:root {
    --main-text-font: Arial, Helvetica, sans-serif;
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 40px 0 0 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
header {
    display:flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #E7E8E9;
    border-width: 80%;
}
header.sticky{
   background:  rgba(255, 255, 255, 1);
}

/* logo */
.logo{
    flex: 1;
}
/* menu */
.menu{
    flex: 3;
    display: flex;
    color: black;
}
.menu>li>a:hover{
 
    color: blue;
}
.menu > li:hover .sub-menu {
    display: block;
}
.menu > li {
    padding: 20px 20px;
    position: relative;
    top: 5  px;
}
.menu > li:hover .sub-menu{
    visibility: visible;
    top:55px;
}
.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: #f4f0f0;
}
.sub-menu ul {
    padding-left: 20px;
}
.sub-menu li ul a{
   font-weight: normal;
   font-size: 12px!important;
}
.menu li a{
    font-size: 15px;
    font-weight: bold!important;
    display: block;
    line-height: 20px;
    margin: 0 0 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}
/* others */
.others{
    display: block;
}
 .others input{
    height: 35px;
    max-width: 100%;
    width: 300px;
    padding: 0 10px;
 }
 .others i{
    position: relative;
    right: 25px;
    max-width: 100%;
 }
 #searchResults {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color:white;
    max-height: 200px;
    overflow: auto;
    position: absolute;
    z-index: 1;
    width: 21%;
    top: 70px;
  }

  #searchResults li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #searchResults img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
  }
  #searchResults a {
   display: flex;
   align-items: center;
   gap: 10px;
   color: black;
   text-decoration: none;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* text */
.text {
    color: #18181a;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 3px;
    margin-left: 50px;
}

.text > a {
    color: blue;
    left: 12px;
}
.text > i{
        position: absolute;
       margin-left:-29px;
        bottom: 25px;
        color:blue;
        font-size: 16px; 
}

/* slide */
#slider{
    padding-bottom: 100px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
/* aspect-ratio-169 */
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
  }
  
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 70px;
  }
  /* dot */
.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
}
.dot{
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot.active{
    background-color: #333;
}
/* all */
.all{
    justify-content: space-between;
    display: flex;
    padding: 15px 20px 10px 20px;
}
.pick1{
    width: 50%;
    text-align: center;
    position: relative;
}
.pick1 button{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    transition: all 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
.pick1 button:hover{
    border: 2px solid blue;
    background-color: blue;
    color: #fff;
}
.pick1 img{
    width: 100%;
    height: 100%;
    padding: 10px 10px ;
}
.all1{
    justify-content: space-between;
    display: flex;
    padding: 15px 20px 10px 20px;
}
.pick2{
    width: 50%;
    text-align: center;
    position: relative;
}
.pick2 button{
    display: inline-block;
    padding: 10px 35px;
    border: 2px solid #000;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    transition: all 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
.pick2 button:hover{
    border: 2px solid blue;
    background-color: blue;
    color: #fff;
}
.pick2 img{
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}

/* sp liên quan */
.product-related-title p{
    font-size: 35px;
    margin-top: -120px;
    margin-left: 500px;
    padding: 0px 0px 1px 5px;
    
}
/* product*/
.product{
    padding: 100px 0;
}
.product-top{
    margin-bottom: 30px;
}

.product-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-style: 12px;
}
.product-content-left{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
     
}
.product-content-right{
    width: 50%;
}
.zoom{
    width: max-content;
    position: relative;
    cursor: pointer;
}


#imgZoom{
    position: absolute;
    left: 0;
    top: 0;
    --zoom-x: 50%;
    --zoom-y: 50%;
    transform: scale(1.5);
    pointer-events: none;
    clip-path: circle(
    100px at var(--zoom-x) var(--zoom-y)
    );
    opacity: 0;
}
.product-content-left-small-img{
    width:25%;
}
.product-content-left-small-img img{
    width: 95%;
}
.product-content-right{
    width: 50%;
   
}
.product-content-right-product-name h1{
font-family: var(--main-text-font);
font-style: 16px;
}
.product-content-right-product-name p{
color: #cccccc;
font-style: 12px;
}
.product-content-right-product-price{
margin: 12px 0;
font-style: 12px;
font-weight: bold;
font-family: var(--main-text-font);
}
/* size */
.size{
    padding: 16px 0 0 0;
}
.size span{
display: inline-block;
padding: 3px 6px;
border: 1px solid #dddddd;
margin: 12px 10px 12px 0;
font-style: 12px;
cursor: pointer;
}
/*quantity*/
.quantity{
    margin-bottom: 20px;
}
.quantity input{
    width: 35px;
    padding-left: 3px;
}
/* button*/
.product-content-right-product-button button{
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    
}

#favorite-btn {
    border: 1px solid #333;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  
  #favorite-btn i {
    margin-left: 1px;
  }
  
  #favorite-btn.active {
    background-color: #ff8b8b;
    color: #fff;
    border: 1px solid #ff8b8b;
  }

#button2 {
    position: absolute;
    right: -30px;
    margin-top: -52px;
    left: 900px;
    padding: 0 20px ;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 45px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

#button2:hover{
    background-color: blue;
  color: white;
}
#button2:hover p{
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}
#button2 svg{
    position: absolute;
    margin-top: -17%;
    margin-left: -60px;
}
.product-content-right-product-button button p{
    padding: 0 10px 0 0;
   
}
.product-content-right-product-button button:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    border: 2px solid black;
    cursor: pointer;
}
.share {
    font-size: 15px;
    margin-top: 25px;
}
.foorter-right__iconpro{
      margin-top: -20px;
      margin-left: 55px;
}
/* icon product*/
.product-content-right-product-icon{
    display: flex;
}
.product-content-right-product-icon-item{
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}
.product-content-right-product-icon-item i{
    font-style: 12px;
    margin-right: 6px 0;
}
/* product mô tả sản phẩm*/
.product-content-right-product-detail{
    font-family: var(--main-text-font);
}
.product-content-right-product-detail-material{
    display: flex;
    padding: 16px 0 16px 0 ;
    font-size: 18px  ;
}
#material1{
    font-size: 16px;
    margin: 0 0 16px;
}
#material2{
    font-size: 16px;
    margin: 0 0 16px;
    padding: 0 0 0 16px;
}
.product-content-right-product-detail-designs{
    display: flex;
    padding: 16px 0 16px 0 ;
    font-size: 18px  ;
}
#designs1{
    font-size: 16px;
    margin: 0 0 16px;
}
#designs2{
    font-size: 16px;
    margin: 0 0 16px;
    padding: 0 0 0 16px;
}
.product-content-right-product-detail-fit{
    display: flex;
    padding: 16px 0 16px 0 ;
    font-size: 18px  ;
}
#fit1{
    font-size: 16px;
    margin: 0 0 16px;
}
#fit2 {
    font-size: 16px;
    margin: 0 0 16px;
    padding: 0 0 0 16px;
}
.product-content-right-product-detail-color{
    display: flex;
    padding: 16px 0 16px 0 ;
    font-size: 18px  ;
}
#color1{
    font-size: 16px;
    margin: 0 0 16px;
}
#color2{
    font-size: 16px;
    margin: 0 0 16px;
    padding: 0 0 0 16px;
}
/* product-relae  */
.product-related{
    margin-bottom: 50px;
}
.product-related h2{
    text-align: center;
    font-size: 30px;
    padding: 0 0 80px 0;
    margin-top: -300px;;
}
.product-related-title{
    margin: 20px 0;
}
.product-related-title p{
    font-family: var(--main-text-font);
    font-style: 14px;
    font-weight: bold;
    color: #333333;
}
.product-content{
    justify-content: center;
}
.product-related-item{
    width: 25%;
    text-align: center;
    padding: 0 20px;
}
.product-related-item img{
    width:150px;
    height: 230px;
}
.product-related-item h1{
    font-family: var(--main-text-font);
    font-style: 11px;
    color: #333333;
    margin-top: 6px;
}
.product-related-item p{
    font-style: 12px;
    text-decoration: line-through;
     
}
#p1{
    display: flex;
   justify-content: center;
    margin-left: 60px;
}
#p1 span{
    padding: 0 7px 0 0;
}
/* catagory */
.catagory{
    padding: 100px 0 0;
}
.gach1{
    border-bottom: 1px solid #E7E8E9;
    margin-top: -30px;
}
.catagory-top{
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
}
.catagory-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-style: 12px;
}
.catagory-left{
    width: 20%;
}
.catagory-right{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.catagory-right-top-item:first-child{
    flex: 2;
    font-style: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.catagory-right-top-item{
    flex: 1;
    padding: 0 12px;
}
.catagory-right-top-item button{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    bottom: 1px solid #dddddd;
    cursor: pointer;
}
.catagory-right-top-item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    bottom: 1px solid #dddddd;
    cursor: pointer;
}
.catagory-right-content{
    margin-top: 20px;
    justify-content: space-between;
}
.catagory-right-content-item{
    width:33.33333%;
    text-align: center;
    padding: 12px 0;
    overflow: hidden;
   
}
.catagory-right-content-item h1{
    font-size: 18px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333333;
}
.catagory-right-content-item img{
    width: 80%;
    padding: 0 30px ;
   
    transition: transform 0.8s;
    height: 90%;
}
.catagory-right-content-item:hover img{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.catagory-right-content-item p{
    font-style: 12px;
}

.catagory-right-bottom{
    justify-content: space-between;
    margin: 30px 0 20;
    width: 100%;
    margin-top: -10px;
}
.catagory-right-bottom p{
    font-family: var(--main-text-font);
    font-size: 11px;
  
}
.catagory-left ul li{
    padding: 12px 0;
}
.catagory-left ul li>a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.catagory-left ul li ul li{
    padding-left: 10px;
}
.catagory-left-li ul {
    display: none;
}
.catagory-left-li.block ul{
    display: block;
}
.catagory-left-li {
    cursor: pointer;
}
/* footer */
.gach3{
    border-bottom: 1px solid #A8A9AD;
}
.footer{
    margin-top: 20px;
}
.footer-bottom{
    display: flex;
    padding: 5px 25px 20px 40px;
   
}
.footer-left{
    flex: 3;
}
.footer-left-center{
    flex: 2;
    padding: 10px 0;
}
.footer-left-center ul li {
    padding: 5px 20px;
    font-size: 15px;
    margin: 6px;
    margin-left: -19px;
   
}

.footer-right-center{
    flex: 2;
}
.footer-right{
    flex: 2;
}
.footer-left-logo{
    width: 50%;
    padding: 20px 0;
    display: flex;
    margin-top: -15px;

}
.footer-left-logo img{
    width: 45%;
}
.logo2{
    height: 40px;
    margin-left: 10px;
}
.logo3 {
    margin-top: -15px;
}
.footer-left p{
padding: 30px 0;
margin-top: -45px;

}
.footer-left p strong{
    color: #000;
}

#title1{
    font-size: 20px;
    padding: 0 0 17px 0;
}

.footer-right-center{
    padding: 10px 0;
}
#title2{
    margin: -2px;
    font-size: 20px;
    padding: 0 0 17px 0;
    
}
.footer-right-center ul li{
    padding: 10px 0;
    
}    
#title3{
    font-size: 20px;
    padding: 10px 0  30px 0;
}
.footer-right{
    border: 3px solid #0a37e9;
    padding: 20px;
    border-radius: 50px 0 50px 0px ;
    height: 230px;
    
}
.footer-right p{
    padding: 10px 0;
}
.foorter-right__icon{
    margin-top: 50px;
    font-size: 35px;
    cursor: pointer;
    
}
.foorter-right__icon img {
     padding: 0 7px;
}
.input1 input {
    border: none;
    border-bottom: 1px solid #A8A9AD;
    font-size: 15px;
    position: relative;
    height: 34px;
    margin-right: 10px;
    padding: 0 8px;
}
.input1{
    position: absolute;
    
}
.input1 button{
    font-size: 15px;
    padding: 8px;
    border:1px solid #0e38de;
    border-radius: 25px 0 25px 0px ;
    color: black;
    background-color: white;
    margin-right: 0px;

}
.input1 button:hover{
    background-color: #2879FE;
    transition: 0.4s;
    color: white;
}
.a1{
    border:1px solid #2879FE;
    width: 100%;
    background-color: #2879FE;
    padding: 20px;
}
.a2{
    margin-top: 10px;
}
/* Quote */
.quote {
   padding: 0 20px 0 10px;
   margin-top: 75px;
}
.quote h1 {
    color: black;
    text-align: center;
}


.quote h2 { color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.quote h3 { 
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    font-style: italic;
    font-size: 16px!important;
    line-height: 1.5;
}
.catagory-right-content-item p {
    text-decoration: line-through;
}

/* Quote */
.list-price{
    margin-top: 100px;
    padding: 0 20px 0 20px;
}
.list-price-title h1{
    text-align: center;
    font-size: 35px;
    padding: 0 0 20px;
}
.list-price-title p{
    padding: 0 0 20px 0;
    font-style: italic;
}
.all{
    padding: 20px 10px;
}
.list-price-top1 h2{
    padding: 0 0 50px 0;
}
.list-price-top-img1{
    width: 100%;
}
.list-price-top-img1 img{
    padding: 0 25px 30px 25px;
    width: 100%;
}
.list-price-top2 h2{
    padding: 0 0 50px 0;
}
.list-price-top-img2{
    width: 100%;
}
.list-price-top-img2 img{
    padding: 0 10px 30px 10px;
    width: 100%;
}
.list-price-top3 h2{
    padding: 0 0 50px 0;
}
.list-price-top-img3{
    width: 100%;
}
.list-price-top-img3 img{
    padding: 0 10px 30px 10px;
    width: 100%;
}
.list-price-top4 h2{
    padding: 0 0 50px 0;
}
.list-price-top-img4{
    display: flex;
    padding: 0 0 0 70px;
}
.list-price-top-img4-1{
    padding: 0 50px 0 0;
}
.list-price-top-img4-2{
    margin-top: 35px;
}
.list-price-top5 h2{
    padding: 0 0 20px 0;
}
.list-price-top5 p{
    padding: 0 0 50px 0;
    font-style: italic;
}
.list-price-top5-title{
    text-align: center;
    padding: 0 0 30px 0;
    font-size: 35px;
}
.list-price-top5-title h3{
    color: #0000FF;
}
.list-price-top-img5{
    padding: 0 0 50px 0;
    text-align: center;
}
.list-price-top-img5 img{
    width: 80%;
   
}
/* about us */
.us1{
    display: flex;
    margin-top: 100px;
    padding: 10px 15px;
}
.us-left{
    width: 50%;
    display: block;
padding: 0 20px 0 0;
    
}
.us-left img{
width: 100%;
height: 100%;
border: 1px solid #E7E8E9;
}
.us-right{
    width: 50%;
    font-family: var(--main-text-font);
    height: 100%;
}
.us-right h2{
    text-align: center;
    padding: 20px 0 30px 0;
    font-size: 24px;
}
.us-right p{
    padding: 15px 0 15px 0;
    font-size: 17px;
}
.number{
    padding: 70px 0 20px 0;
}
.number0 h2{
    text-align: center;
    padding: 0 0 30px 0;
}
.number1{
    display: flex;   
}
.number2{
    width: 20%;
    padding: 10px 15px;
   
}
.number3{
    width: 100%;
    border-radius: 10px;
    border: 1px solid blue;
    display: block;
    padding: 20px;
}
.number3 h2 {
    text-align: center;
    padding: 0 0 30px 0;
    color: blue;
}
.number3 p{
    text-align: center;
}
.production{
    padding: 30px;
}
.production h2{
    text-align: center;
    padding: 0 0 25px 0;
}
.production p{
    padding: 0 200px 50px 200px;
}
.production1{
    display: flex;
    padding: 0 0 20px 0;
}
.production-left{
    display: flex;
    height: 130px;
    width: 50%;
    padding:10px ;
    margin: 0 25px 0 0;
    box-shadow:5px 5px 15px  1px #b9b9b9
    
 
}
.production-left-Content{
    width: 60%;
    padding:10px;
}
.production-left-Content h3{
  padding: 0 0 10px 0;
}
.production-left-Content p{
    padding: 0;
}
.production-left-img{
    width: 40%;
}
.production-left-img img{
    width: 100%;
    height: 100%;
}
.production-right{
    display: flex;
    margin: 0 0 0 25px;
    height: 130px;
    width: 50%;
    padding: 10px;
    box-shadow:5px 5px 15px  1px #b9b9b9
}
.production-right-content{
    width: 60%;
}
.production-right-content h3{
    padding: 0 0 10px 0;
}
.production-right-img{
    width: 40%;
}
.production-right-img img{
    width: 100%;
    height: 100%;
}
.production-left .production-right {
    text-align: center;
}


.production2{
    display: flex;
}
.production-left1{
    display: flex;
    height: 130px;
    width: 50%;
    padding:10px ;
    margin: 0 25px 0 0;
    box-shadow:5px 5px 15px  1px #b9b9b9
    
 
}
.production-left-Content1{
    width: 60%;
    padding:10px;
}
.production-left-Content1 h3{
  padding: 0 0 10px 0;
}
.production-left-Content1 p{
    padding: 0;
}
.production-left-img1{
    width: 40%;
}
.production-left-img1 img{
    width: 100%;
    height: 100%;
}
.production-right1{
    display: flex;
    margin: 0 0 0 25px;
    height: 130px;
    width: 50%;
    padding: 10px;
    box-shadow:5px 5px 15px  1px #b9b9b9;
}
.production-right-content1{
    width: 60%;
}
.production-right-content1 h3{
    padding: 0 0 10px 0;
}
.production-right-img1{
    width: 40%;
}
.production-right-img1 img{
    width: 100%;
    height: 100%;
}
.production-left1 .production-right1 {
    text-align: center;
}
/* partner */
.partner{
    padding: 0 15px;
}
.partner h2{
    text-align: center;
    padding: 30px 0 40px 0 ;
}
.partner0{
    display: flex;
    padding: 0 0 30px 0;
    text-align: center;
}
.partner1{
    width: 20%;
    
}
.partner1 img{
    width: 50%;
    padding: 0 20px;
    box-shadow:5px 5px 15px  1px #b9b9b9;
    
}

/* contact */
/* contact */
.contact{
    padding: 30px 100px;
    
}
.contact h2{
    color: #0a37e9;
    
}
.contact1{
    display: flex;
    padding: 30px 0 0 0;
    justify-content: space-between;
}
.contact-left{
    
    width: 50%;
}
.contact-left1-0{
    padding: 0px 0 5px 0;
}
.contact-left1{
    display: flex;
    align-items: center;
    border: 1px solid #d2d2d3;
    padding: 15px;
    width: 540px;
    height: 125px;
    cursor: pointer;
}
.contact-left1 h3:hover{
    color: #0e38de;
}
.contact-icon i{
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
    background: #f0f0f0;
}
.contact-address{
    padding: 0 0 0 20px;
}
.contact-address h3{
    padding: 0 0 15px 0;
}
.contact-left2-0{
    padding: 5px 0 5px 0;
}
.contact-left2{
    display: flex;
    align-items: center;
    border: 1px solid #d2d2d3;
    width: 540px;
    height: 125px;
    padding: 15px;
    cursor: pointer;
}
.contact-left2 h3:hover{
    color: #0e38de;
}
.contact-number{
    padding: 0 0 0 20px;
}
.contact-number h3{
    padding: 0 0 15px 0;
}
.contact-left3-0{
    padding: 5px 0 5px 0;
}
.contact-left3{
    display: flex;
    align-items: center;
    border: 1px solid #d2d2d3;
    padding: 15px;
    width: 540px;
    height: 125px;
    cursor: pointer;
}
.contact-left3 h3:hover{
    color: #0e38de;
}
.contact-email{
    padding: 0 0 0 20px;
}
.contact-email h3{
    padding: 0 0 15px 0;
}
.contact-right{
    width: 50%;
    padding: 0 50px 0 0;
}
.topic{
    padding: 0 0 20px 0;
}
.topic select{
    width: 230px;
    height: 30px;
    padding: 0 0 0 10px;
    border: 1px solid #d2d2d3;
    font-size: 13px;
    
}
.topic select option{
    font-size: 13px;
}    
.name{
    padding: 0 0 20px 0;
}
.name input:focus {
    outline: none;
}
.name small{
    color: var(--error-color);
}
.name.error input {
    border-color: var(--error-color);
}


.name input{
    width: 540px;
    height: 50px;
    padding: 15px;
    border: 1px solid #d2d2d3;
    font-size: 15px;
}

.phone{
    padding: 0 0 20px 0;
}
.phone input:focus {
    outline: none;
}
.phone small{
    color: var(--error-color);
}
.phone.error input {
    border-color: var(--error-color);
}


.phone input{
    width: 540px;
    height: 50px;
    padding: 15px;
    border: 1px solid #d2d2d3;
    font-size: 15px;
}
.email{
    padding: 0 0 20px 0;
}
.email input:focus {
    outline: none;
}
.email small{
    color: var(--error-color);
}
.email.error input {
    border-color: var(--error-color);
}



.email input{
    width: 540px;
    height: 50px;
    padding: 15px;
    border: 1px solid #d2d2d3;
    font-size: 15px;
}
.content{
    padding: 0 0 20px 0;
}
.content textarea{
    width: 540px;
    height: 100px;
    padding: 15px;
    border: 1px solid #d2d2d3;
    font-size: 15px;
}
.content textarea:focus {
    outline: none;
}
.submit input{
    width: 130px;
    height: 50px;
    border: none;
    background-color: #0e38de;
    cursor: pointer;
    color: white;
}


/* branch */
.branch{
    padding: 30px 80px;
}
.branch2{
    display: flex;
    justify-content: center;
   
}
.branch2 li{
    padding: 0 12px 0 12px;
}
.branch2 li ul{
    padding: 20px 0 20px 0;
    cursor: pointer;
}
.branch2 li ul:hover{
    color: #0e38de;
}
.map{
    margin-top: 50px;
    text-align: center;
}
/**/
.sort-dropdown {
    position: relative;
  }
  
  .sort-dropdown-toggle {
    background-color: #ddd;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 10px 16px;
  }
  
  .sort-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .sort-dropdown-menu a {
    color: #333;
    display: block;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  .sort-dropdown-menu a:hover {
    background-color: #f2f2f2;
  }
  
  .sort-dropdown-menu.show {
    display: block;
  }
  